/* These apply for all pages */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  body{
  background-color: rgb(142, 187, 214);
  margin: 100px;
  }

  h1, h4,label,p,a, span{
    color:white;
    }