.changePassword {
    width: 400px;
    padding: 20px;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: rgb(71, 91, 119);
    border-radius: 2%;
  }

  .changePassword h1{
    margin-bottom: 10px;
  }
  .changePassword form{
    padding: 10px;
    padding-bottom: 20px;
  }
  
  .changePasswordInput{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .changePasswordButton{
    margin-top: 10px;
    height: 30px;
    width: 200px;
  }

  .changePasswordSignIn{
    margin-top: 10px;
  }
  
  .successUpdateinfo {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(71, 91, 119);
    border-radius: 2%;
  }
  
  .successUpdateinfo h4 {
    margin-bottom: 5px;
  }