.loginSection{
    width: 400px;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(71, 91, 119);
    border-radius: 2%;
}

.loginSection h1{
    margin-bottom: 10px;
}

.loginSection form{
    margin: 10px;
}

.loginInput{
    margin-top: 5px;
    margin-bottom: 10px;
}

.loginButton{
    color: white;
    background-color: rgb(57, 131, 160);
    border-radius: 40px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 50%;
    height: 30px;
  }

.loginButton:enabled:hover {
    background-color: rgb(81, 140, 163);
  }

  .forgottenPassword{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .line{
    margin: auto;
    height: 1px;
    width: 300px;
    background-color: white;
  }

 .needAnAccount{
    margin-top: 10px;
  }

.error{
    color: rgb(255, 4, 4);
    font-size: medium;
  }

  .successLogin{
    width: 400px;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(71, 91, 119);
    border-radius: 2%;
  }