.infoDiv {
    width: 400px;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(95, 108, 124);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    margin: auto;
}

.infoDiv h4{
    margin-bottom: 10px;
}

.infoUpdate{
    margin-top: 15px;
    text-align: center;
}

.infoUpdate h5{
    margin-bottom: 10px;
}

.updateInfoButton {
    width: 150px;
    height: 23px;
}

.accountsDiv {
    width: 400px;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(71, 91, 119);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    margin: auto;
}

.accountsDiv h3{
    margin-bottom: 10px;
}

.accountsButtonDiv{
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.accountsButtonDiv button{
    width: 200px;
    height: 27px;
    word-spacing: 60px;
}

.makeTransaction{
    margin: auto;
    height: 50px;
    width: 50px;
}
.makeTransaction button{
    height: 40px;
    width: 40px;
    background-color: rgb(247, 247, 247);
    color: rgb(71, 91, 119);
    border-radius: 50%;
    font-size: larger;
}

.makeTransaction button:hover{
    background-color:rgb(71, 91, 119);
    color: rgb(247, 247, 247);
}

.makeTransaction p {
    text-align: center;
    font-size: small;
}

.creditDiv {
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: rgb(40, 66, 99);
    border-radius: 2%;
    margin: auto;
    text-align: center;
}

.creditDiv h4{
    margin-bottom: 5px;
}

.createCreditButton {
    width: 200px;
    height: 25px;
    margin-top: 5px;
}

.successCredit h3{
    margin-top: 5px;
    margin-bottom: 5px;
}