.registerSection {
  width: 400px;
  height: auto;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(71, 91, 119);
  border-radius: 2%;
}

.registerSection h1 {
  margin-bottom: 10px;
}

.registerSection form {
  margin: 10px
}

.registerInput {
  margin-top: 5px;
  margin-bottom: 10px;
}

.infoCircle{
  margin-right: 3px;
}

.valid {
  margin-left: 5px;
}

.invalid {
  margin-left: 5px;
}

.alreadyRegistered {
  margin-top: 10px;
}

.registerButton {
  color: white;
  background-color: rgb(57, 131, 160);
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 50%;
  height: 30px;
}

.registerButton:enabled:hover {
  background-color: rgb(81, 140, 163);
}

.registerButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: rgb(255, 4, 4);
  font-size: medium;
}

.successRegister {
  width: 400px;
  height: auto;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(71, 91, 119);
  border-radius: 2%;
}

.successRegister h1 {
  margin-bottom: 10px;
}