.registerSection{
  display: block;
  width: 400px;
  height: auto;
  margin: auto;
  padding: 30px;
  text-align: center;
  background-color: rgb(71, 91, 119);
  border-radius: 2%;
  }

  .registerSection h1, .registerSection label, .registerSection p, .registerSection a{
    margin: 15px;
  }

    button{
      color: white;
      background-color: rgb(57, 131, 160);
      border-radius: 40px;
      text-align: center;
      cursor: pointer;
      border: none;
      letter-spacing: 00.2px;
      width: 50%;
      height: 30px;
    }

    button:enabled:hover{
      background-color: rgb(81, 140, 163);
    }

   button:disabled{
      opacity: 0.5;
      cursor: not-allowed;
    }

    .registerInput{
      margin: 5px;
    }

    .error{
      color: rgb(255, 4, 4);
      font-size: medium;
    }

    .successRegister{
      display: block;
      width: 400px;
      height: auto;
      margin: auto;
      padding: 30px;
      text-align: center;
      background-color: rgb(71, 91, 119);
      border-radius: 2%;
    }

  .successRegister h1{
        margin-bottom: 10px;
    }

   