.transferButton1{
    display: inline-block;
    float: left;
    background-color: blue;
    width: 80px;
    height: 25px;

}

.transferButton2{
    display: inline-block;
    float: right;
    
    background-color: red;
    width: 150px;
    height: 25px;
}

.errorTransfer{
    color: red;
    text-align: center;
}